.m42hl {
	color: #222;
}

.m42hl-tx {
}

.m42hl-elem {
	background-color: rgba(215, 58, 73, .1);
}

.m42hl-lbm {
	color: #d73a49;
	font-weight: bold;
}

.m42hl-tn {
	color: #d73a49;
	font-weight: bold;
}

.m42hl-sp {
	color: #d73a49;
	font-weight: bold;
}

.m42hl-lpm {
	color: #d73a49;
	font-weight: bold;
}

.m42hl-pk {
	color: #FFA000;
}

.m42hl-eq {
	color: #666;
}

.m42hl-lqm {
	color: #666;
}

.m42hl-pv {
	color: #03A9F4;
}

.m42hl-rqm {
	color: #666;
}

.m42hl-rpm {
	color: #d73a49;
	font-weight: bold;
}

.m42hl-rbm {
	color: #d73a49;
	font-weight: bold;
}

.m42hl-verb {
	background-color: rgba(200, 230, 201, .8);
	color: #2e7d32;
	font-style: italic;
}

.m42hl-lvm, .m42hl-rvm {
	color: #2e7d32;
	font-weight: bold;
}