.m42hl {
	color: #222;
}

.m42hl-tx {
}

.m42hl-elem {
	background-color: rgba(229, 115, 115, .1);
}

.m42hl-lbm {
	color: #D73A49;
	font-weight: bold;
}

.m42hl-tn {
	color: #D73A49;
	font-weight: bold;
}

.m42hl-sp {
	color: #D73A49;
	font-weight: bold;
}

.m42hl-lpm {
	color: #D73A49;
	font-weight: bold;
}

.m42hl-pk {
	color: #F57C00;
}

.m42hl-eq {
	color: #666;
}

.m42hl-lqm {
	color: #1976D2;
}

.m42hl-pv {
	color: #1976D2;
}

.m42hl-rqm {
	color: #1976D2;
}

.m42hl-err {
	background-color: #E57373;
	color: white;
}

.m42hl-rpm {
	color: #D73A49;
	font-weight: bold;
}

.m42hl-rbm {
	color: #D73A49;
	font-weight: bold;
}

.m42hl-verb {
	background-color: rgba(200, 230, 201, .8);
	color: #2e7d32;
	font-style: italic;
}

.m42hl-lvm, .m42hl-rvm {
	color: #2e7d32;
	font-weight: bold;
}