.m42kup-error {
	color: red;
	border: 1px red solid;
	padding: 0 .2em;
}

blockquote.m42kup-bq-info {
	border-left-color: #1976d2;
    background-color: #e3f2fd;
    color: #1976d2;
}

blockquote.m42kup-bq-info a {
    color: #1976d2;
    font-weight: bold;
}

blockquote.m42kup-bq-info::before {
	content: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%231976d2"%3E%3Cpath d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/%3E%3C/svg%3E');
	display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: .5em;
}

blockquote.m42kup-bq-warn {
	border-left-color: #d32f2f;
	background-color: #ffebee;
	color: #d32f2f;
}

blockquote.m42kup-bq-warn a {
    color: #d32f2f;
    font-weight: bold;
}

blockquote.m42kup-bq-warn::before {
	content: url('data:image/svg+xml,%0A%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="%23d32f2f"%3E%3Cpath d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"/%3E%3C/svg%3E');
    display: inline-block;
    width: 24px;
    height: 24px;
    float: left;
    margin-right: .5em;
}